{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Your Email Addresses{% endblock %}

{% block content %}
  <h3 class="center">Manage Email Addresses</h3>
  <div class="container user-page-container">
      <div class="card-panel z-depth-0" style="margin-top: 0; border: 1px solid #e0e0e0;">
          {% if user.emailaddress_set.all %}
              <p class="lem">The following email addresses are associated with your account: </p>

              <form action="{% url 'account_email' %}" class="email_list" method="post">
                  {% csrf_token %}
                  <fieldset class="blockLabels">
                      <div class="row">
                          <div class="col m12">
                              {% for emailaddress in user.emailaddress_set.all %}
                                  <p>
                                      <input id="email_radio_{{ forloop.counter }}" type="radio"
                                             name="email" class="with-gap"
                                             {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %}
                                             value="{{ emailaddress.email }}"/>
                                      <label for="email_radio_{{ forloop.counter }}">
                                          {{ emailaddress.email }}
                                      </label>
                                      <span class="right">
                                          {% if emailaddress.verified %}
                                              <span class="chip strong verified white-text green">Verified</span>
                                          {% else %}
                                              <span class="chip strong red white-text unverified">Unverified</span>
                                          {% endif %}
                                          {% if emailaddress.primary %}
                                              <span class="primary chip strong blue white-text">Primary</span>
                                          {% endif %}
                                      </span>
                                  </p>
                              {% endfor %}

                          </div>
                      </div>
                      <div class="email-options">
                          <button class="btn btn-large waves-effect blue" type="submit" name="action_primary">Make Primary</button>
                          <button class="btn btn-large waves-effect green" type="submit" name="action_send">Re-send Verification</button>
                          <button class="btn btn-large waves-effect red right" type="submit" name="action_remove">Remove</button>
                      </div>
                  </fieldset>
              </form>
          {% else %}
              <p><strong>Warning:</strong> You currently do not have any email address set up. You should
                  really
                  add an email address so you can receive notifications, reset your password, etc.</p>
          {% endif %}

          <p style="font-size: 1.5rem" class="blue-text subtitle-bordered">Add an Email Address</p>

          <form method="post" action="{% url 'account_email' %}" id="add_email_address" class="add_email">
              {% crispy form %}
          </form>
      </div>
  </div>
{% endblock %}


{% block extra_scripts %}
    <script type="text/javascript">
        (function () {
            var message = "Do you really want to remove the selected email address?";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function (e) {
                    if (!confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock %}
