bleach==1.4.2
ddt==1.0.1
defusedxml==0.4.1
Django==1.9.6
django-allauth==0.25.2
django-autocomplete-light==3.0.4
django-autoslug==1.9.3
django-crispy-forms==1.6.0
django-debug-toolbar==1.4
django-tag-parser==2.1
html5lib==0.9999999
Markdown==2.6.6
oauthlib==1.1.1
Pillow==3.2.0
python3-openid==3.0.10
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
sqlparse==0.1.19
