body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.profile-content {
    padding: 20px;
}

.email-options {
	margin: 10px 0;
	padding-top: 10px;
	border-top: 1px solid #ddd;
}
