{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}{{ profile.user.username }}'s profile{% endblock %}
{% block content %}

  {% include "authapp/_user_profile_header.html" %}

<div id="profile-page-about" class="center flow-text">
  <!-- start Profile About  -->
  <div class="card">
    <div class="card-content">
      <span class="card-title">About @{{ profile.user.username }}</span>
      {% if profile.user.about %}
        <p class="grey-text">{{ profile.user.about }}</p>
      {% else %}
      <p class="grey-text"><i>Apparently, this user prefers to keep an air of mystery about them</i>.</p>
      {% endif %}
    </div>
  </div>
  <!-- end Profile About  -->
</div>
{% endblock %}
