{% extends "base.html" %}
{% load comments_tags %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load markdown_tags %}

{% block head_title %}
  {% if post.blog.is_public %}
    {{ post.title }} -- {{ post.blog.title }}
  {% else %}
    No blog found
  {% endif %}
{% endblock %}

{% block content %}
  {% if not post.blog.is_public %}
    <div id="no-blog-card" class="center flow-text">
      <div class="card">
          <div class="card-content">
            <span class="card-title">This blog is not publicly accessbile.</span>
            <p class="grey-text">This user doesn't want anyone to read his blog (strange, isn't it).</p>
          </div>
        </div>
    </div>
  {% else %}
  <nav class="blue accent-2 z-depth-0">
    <div class="container">
    <div class="nav-wrapper row">
      <div class="col s12">
        <a href="/" class="breadcrumb">Home</a>
        <a href="{{ post.author.profile.get_absolute_url }}" class="breadcrumb">
          @{{ post.author.username }}
        </a>
        <a href="{{ post.blog.get_absolute_url }}" class="breadcrumb">
          {{ post.blog.title }}
        </a>
        <span class="breadcrumb">{{ post.title }}</span>
      </div>
    </div>
    </div>
  </nav>
  <div class="container">
    <div class="card">
      <div class="card-image">
        {% if post.cover %}
          <img src="{{ post.cover.url }}">
        {% else %}
          <img src="{% static 'images/post-header.jpg' %}">
        {% endif %}
        <span class="card-title" style="width: 100%; background: rgba(0,0,0,.3);">{{ post.title }}</span>
      </div>
      <div class="card-content">
        <span class="left">@{{ post.author }}</span>
        <span class="right">{{ post.created }}</span>
      </div>
      <div class="card-content">
        <div class="post-content">
          {% render_markdown post.content %}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="card-title">Tags</div>
        {% for tag in post.tags.all %}
        <a href="{{ tag.get_absolute_url }}" class="btn small grey">{{ tag.name }}</a>
        {% empty %}
          <p class="grey-text">No tags attached</p>
        {% endfor %}
      </div>
    </div>
    <div class="card">
      <div class="card-content" {% if user.is_authenticated %}style="height:280px;"{% endif %}>
        <div class="card-title">Post a comment</div>
        {% if user.is_authenticated %}
          {% get_comment_form post as comment_form %}
          {% crispy comment_form %}
        {% else %}
          <p>Only logged in users can comment on blog posts.
            Click here to Login or Signup today if you don't have an account yet.</p>
        {% endif %}
      </div>
    </div>
    <h4 class="light header">Comments</h4>
    {% get_comment_list post as post_comments %}
      <ul class="user-comments">
        {% for comment in post_comments %}
        <li data-comment-id="{{ comment.id }}" class="c" id="c{{ comment.id }}">
          <div class="card">
            <div class="card-content">
              <a href="{% url 'authapp:profile' comment.author.username %}">
                <span title="{{ comment.author.first_name }}" class="card-title truncate">
                  {{ comment.author.first_name }}
                </span>
              </a>
              <p>{{ comment.comment }}</p>
            </div>
            <div class="card-panel">
              <i class="material-icons left">access_time</i>
              <a href="#c{{ comment.id }}" class="comment-datetime"
              data-datetime="{{ comment.created|date:"c" }}">{{ comment.created }}</a>
            </div>
          </div>
        </li>
        {% empty %}
          <p class="grey-text no-comment-string">No comments.</p>
        {% endfor %}
    </ul>
  </div>
  {% endif %}

{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript" src="{% static 'js/comments.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.0/moment-timezone-with-data-2010-2020.min.js"></script>

{% verbatim %}
  <script type="text/html" id="comment-item">
    <li data-comment-id="{{ id }}" class="c" id="c{{ id }}">
      <div class="card">
        <div class="card-content">
          <a href="{{ link }}">
            <span title="{{ name }}" class="card-title truncate">
              {{ name}}
            </span>
          </a>
          <p>{{ comment }}</p>
        </div>
        <div class="card-panel">
          <i class="material-icons left">access_time</i>
          <a href="#c{{ id }}" class="comment-datetime">{{ created }}</a>
        </div>
      </div>
    </li>
  </script>
{% endverbatim %}

  <script type="text/javascript">
      var $dt = $('.comment-datetime');
      $.each($dt, function (i, datetime) {
          $(this).html(moment($(this).attr('data-datetime')).format('LLL'));
      });
  </script>


{% endblock %}
