{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Delete a blogpost{% endblock %}

{% block content %}
  <div class="container">
    <h3 class="center">Delete: {{ post.title }}</h3>
      <div class="card-panel z-depth-1 center">
        <form method="post">
          <p>Do you really want to delete <b>{{ post.title }}</b>? This action is irreversible.</p>
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-large red waves-effect waves-light">
            Delete
          </button>
      </form>
      </div>
  </div>
{% endblock %}
