{% extends "base.html" %}
{% block head_title %}{{ tag }} posts{% endblock %}

{% block content %}
<h3>{{ tag }}</h3>
<p class="grey-text">Stories about {{ tag }}..</p>
<div class="row">
  <div class="col s8">
    {% for post in posts %}
      <div class="card medium">
        <div class="card-image">
          <img src="https://getmdl.io/templates/blog/images/road_big.jpg">
          <span class="card-title">{{ post.title }}</span>
        </div>
        <div class="card-content">
          <p>{{ post.summary }}</p>
        </div>
        <div class="card-action">
        <a href="#" class="right">Read more</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
