<footer class="page-footer blue accent-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">
          This project is part of qwikpik internship challange.
          <br/>
          It was written by <a href="https://www.github.com/v1k45/" title="Vikas Yadav" class="white-text">v1k45</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made with &lt;3 using <a class="white-text" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>
