{% load staticfiles %}
<div class="navbar-fixed">
  <nav role="navigation" class="blue">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">blogghar</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'user_profile' %}" class="dropdown-button"
              data-activates="user-dropdown" data-beloworigin="true" data-constrainwidth="false">
              hey, @{{ user.username }} <i class="material-icons right">arrow_drop_down</i>
            </a>
              <!-- user dropdown -->
              <ul id="user-dropdown" class="dropdown-content">
                <li>
                  <a href="{% url 'user_profile' %}">View profile</a>
                </li>
                <li>
                  <a href="{% url 'account_change_password' %}">Change pasword</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="{% url 'account_logout' %}">Log out</a>
                </li>
              </ul>
          </li>
        {% else %}
          <li><a href="{% url 'account_login' %}">Login</a></li>
          <li><a href="{% url 'account_signup' %}" class="btn purple waves-effect waves-light">Sign Up</a></li>
        {% endif %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
